*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div{
    border: 1px solid red;
} */

body{
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    color: #D97ABF;
}

nav{
    display: flex;
    padding: 0 15%;
    height: 60px;
    align-items: center;
    /* border-bottom: 1px solid #010147 ; */
    position: relative;
}

nav ul{
    display: flex;
}


nav ul:nth-of-type(1){
    margin-right: auto;
}

nav ul li{
    list-style: none;
    margin: 0 15px;
    font-size: 20px;
    
}

nav a{
    color: #D97ABF;
    font-weight: 600;
    transition: 100ms;
}

nav a:hover{
    color: #7E688C;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 2px solid #010147; */
    z-index: 1;
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 70%;
}

header{
    height: 550px;
    /* background-image: linear-gradient(to right,#010147,#D511EA,#FFFFFF); */
    position: relative;
    width: 100%;
}


.bg{
    background-image: url(https://images.unsplash.com/photo-1552689486-f6773047d19f?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* filter: blur(3px); */
    width: 100%;
    height: 100%;
}

.ontop{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0 5%;
}

.brandname{
    width: 65%;
    color: hsl(277, 15%, 48%);
    /* border: 1px solid red; */
    overflow: hidden;
    
}

#ninnerbox{
    width: 100%;
    position: relative;
    bottom: -300px;
    transition-duration: 2s;
}

.brandname h1{
    font-size: 70px;
}
.brandname p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}
.social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
}

.tab{
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #7E688C;
    background-color: #7E688C;
    color: white;
}

.tab a{
    display: block;
    margin: 10px 5px;
}
.tab a:nth-of-type(2){
    margin-left: 6px;
}
.tab a:nth-of-type(4){
    margin-left: 6px;
}

.tab i{
    font-size:  25px;
    transition: 150ms;
    color: white;
    /* border: 1px white solid;
    border-radius: 50%;
    padding: 2px; */  
}

.tab i:hover{
    color: #D97ABF;
}
main{
    width: 90%;
    margin: auto;
}
main h1{
    text-align: center;
    margin: 40px 0;
    font-size: 35px;
}



section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.choices{
    width: 25%;
    /* border-radius: 20px; */
    /* border: 2px solid #D97ABF; */
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}

.imgcont{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.imgcont img{
    width: 100%;
    display: flex
    /* border-radius: 20px; */
}

.choices p,.choices button{
    margin-bottom: 10px;
}

.tag{
    border: 1px solid red;
    padding-top: 50%;
    padding-bottom: 50%;
}

button{
    height: 35px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 20px;
    width: 100px;
    background-color: #7E688C;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.more{
    display: flex;
    justify-content: center;
    
}
.more button{
    width: 120px;
    height: 40px;
    background: #D97ABF;
    margin: 20px 0 40px 0;
}

.border{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.borderbreak{
    width: 25%;
    height: 2px;
    background-color: #7E688C;
    /* border-radius: 20px; */
    /* border: 2px solid #D97ABF; */
}

.category{
    width: 500px;  
    margin: auto;
}

.cakes,.pastries{
    width: 38%;
    text-align: center;
    /* border:  1px solid red; */

}

.border2{
    width: 500px;  
    margin: auto;
}

.borderbreak2{
    width: 40%;
}

.cakes .imgcont, .pastries .imgcont{
    border-radius: 50%;
    border:  2px solid #7E688C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35% 0;
    transition: 50ms;
}

.cakes .imgcont:hover, .pastries .imgcont:hover{
    border:  none;
    background-color: #7E688C;
}

.cakes img,.pastries img{
    width: 50px;
}

.border3{
    width: 100%;  
    margin: auto;
    margin-top: 40px;
}

.borderbreak3{
    width: 50%;
}

.meetchef{
    background-color:#7E688C;
    border-radius: 15px; 
}
.cont{
    padding: 0 1% 0 5%;
    display: flex;
    justify-content: space-between;

}

.meetchef .imgcont{
    width: 30%;
    height: 350px;
    border-left: 5px solid #D97ABF;
    border-right: 5px solid #D97ABF;
    margin-bottom: 0;
    border-radius: 0px;
    transform: skew(-5deg);
    
}

.meetchef img{
    width: 120%;
    position: relative;
    left: -10%;
    height: 100%;
    object-fit: cover;
    transform: skew(5deg);
    transition: 500ms;
}

.meetchef img:hover{
    transform: scale(1.1) skew(5deg);
}

.meetchef .chefinfo{
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meetchef .chefinfo p:nth-of-type(1){
    text-align: right;
    margin-bottom: 15px;
}

.meetchef .chefinfo p:nth-of-type(2),.meetchef .chefinfo h4{
    text-align: right;
}

.meetchef .chefinfo h4{
    margin-bottom: 5px;
}

footer{
    margin-top: 40px;
    color: white;
    width: 100%;
    display: flex;
    padding: 0 5%;
    background-color: #7E688C;
}

footer .time{
    display: flex;
    margin: 10px 0;
}
table{
    table-layout: fixed;
    color: white;
    margin-right: 15%;
}

th{
    padding-bottom: 20px;
    font-size: 20px;
}

td{
    padding-bottom: 20px;
}

td:nth-of-type(2){
    padding-left: 60px;
}

footer i{
    color: #D97ABF;
    font-size: 20px;
    margin-right: 20px;
}

.phone, .loc, .mail{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

footer div h3{
    margin-bottom: 20px;
    font-size: 20px;
}

@media (max-width: 822px){
    .bg{
        background-position: right;
        background-size: cover;
    }
    .brandname h1{
        font-size: 55px;
    }
    .brandname p{
        font-size: 16px;
    }
    main h1{
        font-size: 25px;
    }
    table{
        margin-right: 5px;
    }

    footer{
        justify-content: space-between;
    }
}

@media (max-width: 718px){
    section:nth-of-type(1){
        flex-direction: column;
        align-items: center;
    }

    section:nth-of-type(1) .choices{
        width: 50%;
        margin-bottom: 20px;
    }
    .category{
        width: 300px;  
    }
    .cakes .imgcont, .pastries .imgcont{
        padding: 0;
    }
    .cakes img,.pastries img{
         margin: 27% 20%;
    }
    .border2{
        width: 300px;  
    }
    .meetchef{
        border-radius: 15px; 
    }
    .cont{
        padding: 5%;
        flex-direction: column;
        align-items: center;
    }
    .meetchef .imgcont{
        width: 200px;
        height: 300px;
        margin-bottom: 20px;
    }
    .meetchef .chefinfo{
        font-size: 14px;
        width: 100%;
    }
    .meetchef .chefinfo p:nth-of-type(1),.meetchef .chefinfo p:nth-of-type(2),.meetchef .chefinfo h4{
        text-align: center;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    td:nth-of-type(2){
        padding-left: 0px;
    }
    th{
        text-align: left;
    }
    table{
        max-width: 500px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media (max-width: 600px){
    /* header{
        height: ;
    } */
    .tab{
        display: flex;
        flex-direction: row;
        height: 40px;
    }
    .ontop{
        flex-direction: column;
    }
    .brandname{
        width: 100%;
        text-align: center;
        margin-top: 80px;
    }

    .social{
        width: 100%;
        justify-content: center;
    }

    .tab{
        margin-top: 80px;
        /* width: 200px; */
    }

    .tab i{
        font-size: 20px;
        margin: 0 4px;
    }
}
@media (max-width: 410px){
    .brandname h1{
        font-size: 45px;
    }
    section:nth-of-type(1) .choices{
        width: 80%; 
    }
    .category{
        width: 250px;  
    }
    .border2{
        width: 250px;  
    }

    .cakes img,.pastries img{
        margin: 33% 20%;
        width: 30px;
   }
}