*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
	color: #D97ABF;
    text-decoration: underline;
	/* border-bottom: 1px solid #D97ABF; */
	padding-bottom: 7px;
	font-size: 25px;
	margin: auto;
    margin-top: 100px;
	text-align: center;
	font-weight: 800;	
}

p{
	margin-left: 1.2%;
}

/* p::first-letter{
	color: red;
	font-size:100px;
} */
.galle{
    display: flex;
	flex-wrap: wrap;
}

/*.clr{
	clear:both;
}*/

img{
	width: 30%;
	margin: 1.66%;
}

@media  (max-width : 600px) {
	h1{
		font-size: 20px;
	}
	img{
		width:46.68%;
	}
}

@media  (max-width : 300px) {
	img{
		width: 96.68%;
	}
}
